<form method="POST" action="/products/{% if product.id %}{{ product.id }}{% endif %}">
    {% if product.id %}
        <input type="hidden" name="id" value="{{ product.id }}">
        {% endif %}
    <div>
        <label for="title">Name:</label>
        <input type="text" name="title" id="name" value="{{ product.title }}"  />
    </div>
    <div>
		<label for="slug">Slug:</label>
		<input type="text" name="slug" id="slug" value="{{ product.slug }}" />
	</div>
    <div>
		<label for="description">Description:</label><br />
		<!--<input type"text"  name="description" id="description" value="{{ product.description }}"/>-->
        <textarea name="description" id="description">{{ product.description ?? '' }}</textarea>
	</div>
    <div>
        <label for="price">price:</label>
        <input type="number" name="price" id="price" value="{{ product.price }}" />
    </div>
    <div>
		<label for="is_published">Is Published</label>
		<input type="checkbox" name="is_published" id="is_published" value="1" {{ product.is_published ? 'checked' : '' }} />
	</div>
        <input type="submit" type="submit" />
    </div>
</form>