{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2 class="text-2xl mb-4">About {{ product.title }}</h2>
    <ul class="list-none">
        <li>
            <label class="font-semibold">Id:</label> {{ product.id }}
        </li>
        <li>
            <label class="font-semibold">Title:</label> {{ product.title }}
        </li>
        <li>
            <label class="font-semibold">URL Slug:</label> {{ product.slug }}
        </li>
        <li>
            <label class="font-semibold">Price:</label> {{ product.price }}
        </li>
        <li>
            <label class="font-semibold">Is Published:</label> {{ product.is_published }}
        </li>
        <li>
            <label class="font-semibold">Description:</label>
            <p class="max-w-500px"><em>{{ product.description }}</em></p>
        </li>
    </ul>
    <p class="mt-4">
        <a href="/products/{{ product.id }}/edit" class="text-blue-600">Edit</a> | <a href="/products/{{ product.id }}/delete" class="text-red-600">Delete</a>
    </p>
{% endblock %}
