{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2>About Nike Shoe {{ products.name }}</h2>
    <ul>
        <li>
            <label>Id: </label> {{ products.id }}
        </li>
        <li>    
            <label>Name: </label> {{ products.name }}
        </li>
    </ul>
    <p>
        <a href="/products/{{ products.id }}/edit">Edit</a> | <a href="/products/{{ products.id }}/delete">Delete</a>
    </p>
     <p>
        <a href="/products/{{ products.id }}/create">Create New Shoe</a>
    </p>
   
{% endblock %}