{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2>About {{ products.name }}</h2>
    <ul>
        <li>
            <label>Id: </label> {{ products.id }}
        </li>
        <li>    
            <label>Name: </label> {{ products.name }}
        </li>
                <li>    
            <label>Price: </label> {{ products.price }}
        </li>
    </ul>
    <p>
        <a href="/products/{{ products.id }}/edit">Edit</a> | <a href="/products/{{ products.id }}/delete">Delete</a>
    </p>
    
   
{% endblock %}
